@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$titulos:(home:blue, catalogo:green, historia:violet, promos:pink, contacto:orange);

header,
footer{
    background-color: #ffc1ff;
    border-radius: 40px;
}

body{
    background-image: url(../Fondos/mecopa6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form,
table{
    text-align: center  ;
    font-weight: bold;
    font-size: 20px
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: black;
    font-weight:bold;
    font-size:x-large;
    font-family:'Gloria Hallelujah', cursive; 
  }
  
section{
    div{
        div{
            background-color: #ffc1ff;
        }
    }
  }
  a{
    @extend h1
} 

span{
  background-color: map-get($titulos , home);
}

@mixin underline{
    text-decoration: underline;
    
}

@mixin bold {
    font-weight: bold;
}


a{
    @include bold 
}
